.noteList__item{
	padding: 5px;
	height: 80px;

	cursor: pointer;
	overflow: hidden;
}

.noteList__item:not(:first-child){
	margin-top: 5px;
}
.noteList__title{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	margin: 0;

	color: #1F2948;
}
.noteList__text{
	display: -webkit-box;
	font-weight: 200;
	font-size: 14px;
	line-height: 16px;

	overflow: hidden;

	margin: 0;
	box-sizing: border-box;

	color: #000000;

	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}